header {
    text-align: center;
} 

header p {
    color:#006EB6 ;
}

body {
    width: 500px;
    border:black;
    letter-spacing: 1px;
    
}

.italisize {
    font-style: italic;
}

img {
    max-width: 150px;
    height: auto;
}

html, body{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }